* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #74b9ff;
    height: 100vh;
}

#game {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 0px 50px 0px 50px;
}

.game-container {
    margin-right: 0px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 4px;
}

.game {
    padding: 50px;
}

.game-info {
    display: flex;
    margin-bottom: 20px;
}

h2 {
    padding: 20px;
    background-color: #0984e3;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.main {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#primary-number,
#secondary-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
}

#primary-number {
    border: solid 4px #0984e3;
}

#secondary-number {
    border: solid 4px #0984e3;
}

#operator,
#equal {
    font-weight: bold;
    font-size: 40px;
    padding: 30px;
}

input {
    border: solid 4px #0984e3;
    width: 125px;
    height: 125px;
    text-align: center;
    outline: none;
    font-size: 40px;
    font-weight: bold;
}

button {
    width: 100px;
    height: 40px;
    border: solid 2px #0984e3;
    background: #0984e3;
    color: white;
    cursor: pointer;
    margin-left: 30px;
}

